/bin/
/obj/
/Services/bin/
/Services/obj/
/WebApi/bin/
/WebApi/obj/
/Tests.UnitTests/bin/
/Tests.UnitTests/obj/
/Tests.IntegrationTests/bin/
/Tests.IntegrationTests/obj/
/Data.Domain/bin/
/Data.Domain/obj/
/Data.Migrations.Postgres/bin/
/Data.Migrations.Postgres/obj/
/Data.Repository/bin/
/Data.Repository/obj/
/Utilities/bin/
/Utilities/obj/
/WebApi/logs/
/.vs/*